/* Created by Tivotal */

/* Google Fonts(Poppins) */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #212121;
}

.btn {
  position: relative;
  padding: 8px;
  background: none;
  outline: none;
  border: none;
  color: #0f1923;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn::before,
.btn::after {
  position: absolute;
  content: "";
  display: block;
  left: 0;
  right: 0;
  height: calc(50% - 5px);
  border: 2px solid #7d8082;
  transition: all 0.3s ease;
}

.btn::before {
  top: 0;
  border-bottom-width: 0;
  border-radius: 5px 5px 0 0;
}

.btn::after {
  bottom: 0;
  border-top-width: 0;
  border-radius: 0 0 5px 5px;
}

.btn:active:before,
.btn:active:after {
  right: 3px;
  left: 3px;
}

.btn:active:before {
  top: 3px;
}

.btn:active::after {
  bottom: 3px;
}

.btn-content {
  position: relative;
  display: block;
  padding: 20px 50px;
  background: #b7b7b7;
  border-radius: 3px;
  overflow: hidden;
}

.btn-bg {
  display: block;
  position: absolute;
  width: 0;
  top: 0;
  bottom: 0;
  background: #ff4655;
  transform: skew(-15deg);
  left: -8px;
  transition: all 0.3s ease;
}

.btn-txt {
  position: relative;
}

.btn:hover .btn-bg {
  width: calc(100% + 15px);
}

.btn:hover {
  color: #fff;
}
